body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;    
}

body{
    background-color: rgb(173, 115, 228);

}
main{
    background-color: antiquewhite;
    width: 500px;
    margin:auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(10, 10, 10); 
}